{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": false }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
