.logo {
  display: block;
  height: 16vmin;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.stick-bottom {
  margin-top: auto;
}

.stick-right {
  margin-left: auto;
}

.header {
  background: #f5f5f5;
}

.step-img {
  height: 0;
  padding-top: 100%;
}

.card {
  min-width: 355\px;
}