.logo {
  display: block;
  height: 16vmin;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}
